<div [ngStyle]="{'background-color': backgroundColor}">
  <h2>Divisionsübung</h2>

  <div class="grid-container">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10px" class="question-container" *ngIf="taskCount < NUMBER_OF_ROUNDS">
      <mat-grid-tile colspan="3">
        <mat-card class="question-card">
          <p>{{ dividend }} ÷ {{ divisor }}?</p>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-progress-bar mode="determinate" [value]="(currentRound / NUMBER_OF_ROUNDS) * 100"></mat-progress-bar> <!-- Added progress bar -->
    <br>

    <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px" class="options-container" *ngIf="taskCount < NUMBER_OF_ROUNDS">
      <mat-grid-tile *ngFor="let option of options">
        <mat-card class="option-card" (click)="checkAnswer(option)">
          <p>{{ option }}</p>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="taskCount >= NUMBER_OF_ROUNDS" class="result">

    <button mat-flat-button color="primary" (click)="startNewRound()">Neue Runde starten</button>

    <br>
    <br>

    <table mat-table [dataSource]="highScores" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let score" [ngClass]="{'highlight': score.isCurrent}"> {{ score.date }} </td>
      </ng-container>

      <ng-container matColumnDef="timeTaken">
        <th mat-header-cell *matHeaderCellDef> Zeit (Sekunden) </th>
        <td mat-cell *matCellDef="let score" [ngClass]="{'highlight': score.isCurrent}"> {{ score.timeTaken }} </td>
      </ng-container>

      <ng-container matColumnDef="fehler">
        <th mat-header-cell *matHeaderCellDef> Fehler </th>
        <td mat-cell *matCellDef="let score" [ngClass]="{'highlight': score.isCurrent}"> {{ score.fehler }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="showMessage" class="popup-message">Ohne Fehler! Klasse!</div>
</div>